language: generic
sudo: required
services:
  - docker
before_install:
  - docker build -t lnijksa/react-test-app -f ./frontend/Dockerfile.dev ./frontend
script:
  - docker run -e CI=true lnijksa/react-test-app npm run test
after_success:
  - docker build -t lnijksa/docker-frontend ./frontend
  - docker build -t lnijksa/docker-backend ./backend
  - docker build -t lnijksa/docker-nginx  ./nginx
  - echo "$DOCKER_HUB_PASSWORD" | docker login -u "$DOCKER_HUB_ID" --password-stdin
  - docker push lnijksa/docker-frontend
  - docker push lnijksa/docker-backend
  - docker push lnijksa/docker-nginx
deploy:
  edge: true
  provider: elasticbeanstalk
  region: "us-east-2"
  app: "docker-fullstack-app"
  env: "Dockerfullstackapp-env"
  bucket_name: 	elasticbeanstalk-us-east-2-028117448186 #s3의 버킷이름
  bucket_path: "docker-fullstack-app"
  on:
    branch: master
  
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECURET_ACCESS_KEY